<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Producto</title>
    <!--Boostrap4-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--FontLato(Fuente productos)-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!--Importe de los estilos(css)-->
    <link type="text/css" rel="stylesheet" href="{% static 'AmonStore/Css/estilos.css' %}">
    <!--Importe de los iconos para las redes sociales-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!--Inicio Barra Menu-->
    <nav class="navbar navbar-expand-lg bg-light" style="padding-top: 0; padding-bottom: 0;">
        <a class="navbar-brand" href="{% url 'Home' %}"><img src="{% static 'AmonStore/Imagenes/logo 2.png' %}"
                alt="Logo" width="50px"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        <!--Opciones-->
        <div class="collapse navbar-collapse" id="navb">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link color_letra padding_navbar" href="{% url 'Home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color_letra padding_navbar" href="{% url 'Quienes_somos' %}">¿Quiénes somos?</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle color_letra padding_navbar" href="#" id="navbardrop"
                        data-toggle="dropdown">
                        Productos
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'Polerones' %}">Polerones</a>
                        <a class="dropdown-item" href="{% url 'Poleras' %}">Poleras</a>
                        <a class="dropdown-item" href="{% url 'Pantalones' %}">Pantalones</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link color_letra padding_navbar"
                        href="{% url 'Contactanos_mensaje' %}">Contáctanos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle item_select padding_navbar" href="#" id="navbardrop"
                        data-toggle="dropdown">
                        Modificar Producto
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'Administrar_prod' %}">Administrar Productos</a>
                        <a class="dropdown-item" href="{% url 'Administrar_usu' %}">Administrar Usuarios</a>
                    </div>
                </li>
            </ul>
            <!--Registrarse / Iniciar Sesion-->
            <ul class="nav navbar-nav navbar-right">
                <li class="separacion_reg_ini">
                    <a href="{% url 'Registrarse' %}" class="color_letra2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        Registrarse
                    </a>
                </li>
                <li class="separacion_reg_ini bottom_ini">
                    <a href="{% url 'Inicio_sesion' %}" class=" color_letra2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                            <path fill-rule="evenodd"
                                d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                        </svg>
                        Iniciar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--Fin Barra Menu-->

    <!--Inicio Modificar Producto-->
    <div class="container" style="background-color: #fff; border-radius: 10px;">
        <form action="{% url 'Modificar' %}" method="POST">
            {% csrf_token %}
            <div class="row" style="margin-top: 30px; border-bottom: 1px solid #E1E8EE;">
                <div class="col-md-12">
                    <h1 style="margin-left: 20px; margin-top: 10px;" class="titulo_det_centro texto_is">
                        Polerón <input type="text" name="nombre" class="texto_is" style="border: white solid 0px;"
                            value="{{ producto.nombreProd }}">
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="text-align: center;">
                    <img src="{{ producto.fotoProd.url }}" alt="{{producto.fotoProd}}"
                        style="margin-top: 10px; width: 100%; max-width: 300px;">
                </div>
                <div class="col-md-8">
                    <div class="row" style="margin-top: 10px; border-bottom: 1px solid #E1E8EE;">
                        <div class="col-md-4">
                            <h4>ID Producto</h4>
                        </div>
                        <div class="col-md-8">
                            <input type="number" name="id" class="form-control"
                                style="width: 100px; margin-bottom: 10px;" value="{{ producto.idProducto }}" readonly>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px; border-bottom: 1px solid #E1E8EE;">
                        <div class="col-md-4">
                            <h4>Precio</h4>
                        </div>
                        <div class="col-md-8">
                            <input type="number" name="precio" class="form-control"
                                style="width: 100px; margin-bottom: 10px;" value="{{ producto.precioProd }}" required>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px; border-bottom: 1px solid #E1E8EE;">
                        <div class="col-md-4">
                            <h4>Descripcion</h4>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="descripcion" class="form-control"
                                value="{{ producto.descripcionProd }}" style="margin-bottom: 10px;" required>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px; border-bottom: 1px solid #E1E8EE;">
                        <div class="col-md-4">
                            <h4>Stock</h4>
                        </div>
                        <div class="col-md-8">
                            <input type="number" name="stock" class="form-control"
                                style="width: 100px; margin-bottom: 10px;" value="{{ producto.stockProd }}" required>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px; border-bottom: 1px solid #E1E8EE;">
                        <div class="col-md-4">
                            <h4>Tipo Producto</h4>
                        </div>
                        <div class="col-md-8">
                            <select name="tipo_prod" id="tipo_prod" class="form-control"
                                style="width: 150px; margin-bottom: 10px;">
                                {% for t in tipo_prod %}
                                {% if t.idTipoProd == producto.tipoproducto.idTipoProd %}
                                <option value="{{ t.idTipoProd }}" selected>{{ t.descripcion }}</option>
                                {% else %}
                                <option value="{{ t.idTipoProd }}">{{ t.descripcion }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px; border-bottom: 1px solid #E1E8EE;">
                        <div class="col-md-4">
                            <h4>Talla</h4>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="talla" class="form-control"
                                style="width: 100px; margin-bottom: 10px;" value="{{ producto.tallaProd }}" required>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px; border-bottom: 1px solid #E1E8EE;">
                        <div class="col-md-4">
                            <h4>Color</h4>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="color" class="form-control"
                                style="width: 100px; margin-bottom: 10px;" value="{{ producto.colorProd }}" required>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #E1E8EE;">
                        <div class="col-md-12">
                            <p><a href="{% url 'Modificar' %}"><button class="comprar">Modificar Producto</button></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--Inicio Modificar Producto-->
    .
</body>

</html>